html, body {
  box-sizing: border-box;
  width: 100%;
  background-color: #052244;
  color: white;
}

.App {
  text-align: center;
  padding: 50px;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

  .App svg {
    overflow: visible;
    /*border: 1px solid #141428;*/
    margin-top: 50px;
    min-height: 1000px;
  }

  .App .legend {
    list-style: none;
    text-align: left;
    padding: 0;
    margin-top: 50px;
  }

    .App .legend li{
      display: inline-block;
      margin-right: 25px;
      color: #8080e8;
      font-size: 11px;
      line-height: 18px;
    }

      .App .legend li span{
        display: inline-block;
        margin-right: 12px;
        vertical-align: sub;
      }

.Map {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

  .Map canvas{
    position: absolute;
  }